<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>TrainBook</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.jsp</welcome-file>
<welcome-file>default.htm</welcome-file>
</welcome-file-list>
<servlet>
<description/>
<display-name>Register</display-name>
<servlet-name>Register</servlet-name>
<servlet-class>com.ibm.Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Login</display-name>
<servlet-name>Login</servlet-name>
<servlet-class>com.ibm.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Booking</display-name>
<servlet-name>Booking</servlet-name>
<servlet-class>com.ibm.Booking</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Booking</servlet-name>
<url-pattern>/Booking</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>BookedTrain</display-name>
<servlet-name>BookedTrain</servlet-name>
<servlet-class>com.ibm.BookedTrain</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BookedTrain</servlet-name>
<url-pattern>/BookedTrain</url-pattern>
</servlet-mapping>
</web-app>